<% for(let post of posts) { %>
    <li id="post-<%= post._id %>">
        <% if(locals.user && locals.user.id == post.user.id) { %>
            <a class="delete-post-button" href="/post/destroy/<%= post.id %>">X</a>
        <% } %>

        <%= post.content %> -
        <%= post.user.username %>
        <div class="post-comments">
            <% if(locals.user) { %>
                <form action="/comment/create" method="POST">
                    <input type="text" name="content" required>
                    <input type="hidden" name="post" value="<%= post._id%>">
                    <input type="submit" value="Reply">
                </form>
            <% } %>

            <div class="post-comment-list">
                <ul id="post-comment-<%= post._id%>">
                    <% for(i of post.comment) { %>
                        <%- include('_comment', {i: i}) %>
                    <% } %>
                </ul>
            </div>

        </div>
    </li>
<% } %>
